<!DOCTYPE html>
<html lang="en" data-theme="emerald">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            Quasimodo
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body class="bg-base-200 text-base-content min-h-screen">
    {% include "components/navbar.html" %}

    <main class="container mx-auto p-8">

        {% block content %}
        {% endblock %}

    </main>

</body>

</html>