{% extends "base.html" %}

{% block content %}

<div class="hero min-h-screen">
    <div class="hero-content text-center">
        <div class="grid gap-6">
            <c-card>
                <h2 class="card-title">System Status</h2>
            </c-card>
            <c-card>
                <h2 class="card-title">Active Schedule</h2>
            </c-card>
            <c-card>
                <h2 class="card-title">Calendar</h2>
            </c-card>
            <c-card>
                <h2 class="card-title">Templates</h2>
                <ul>
                    <li>Day</li>
                    <li>Week</li>
                    <li>Month</li>
                </ul>
            </c-card>
        </div>
    </div>
</div>

{% endblock %}
